<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<head>
    <title>Sergey Fetisov | <%= yield(:title) %></title>
</head>
<body>
  <ul class="thumbnails" style="min-width:700px">
  	<li class="span2">
  		<div id="box"></div>
  	</li>
  	<li class="span2">
  		<div id="box"></div>
  	</li>
  	<li class="span2">
  		<div id="box"></div>
  	</li>
  	<li class="span2">
  		<div id="box"></div>
  	</li>
  	<li class="span2">
  		<div id="box"></div>
  	</li>
  	<li class="span2">
  		<div id="box"></div>
  	</li>
   </ul><br><br><br><br>
 <ul class="thumbnails">
          <li class="span2">
			  <div id="box"></div><br>
			  <div id="box"></div>
          </li>
          <li class="span2">
			<div id="box"></div><br>
			<div id="box"></div>	    
          </li>
          <li class="span4">
				   <h2><br><br><br>
					  	  <%= link_to image_tag("rocket.png", size: "90x90", class: "mainbutton"),projects_path %><br>
			 			  <%= link_to image_tag("projects2.png", size: "190x190", class: "mainbutton"),projects_path %>
			   	  </h2>
          </li>
          <li class="span2">
			<div id="box"></div><br>
			<div id="box"></div>	    
          </li>
          <li class="span2">
			<div id="box"></div><br>
			<div id="box"></div>	    
          </li>
	  </ul>
	  <br><br><br><br>
 	  <ul class="thumbnails">
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	   </ul>
	   <br><br><br><br>
	   <ul class="thumbnails">
          <li class="span2">
			  <div id="box"></div><br>
			  <div id="box"></div>
          </li>
          <li class="span2">
			<div id="box"></div><br>
			<div id="box"></div>	    
          </li>
          <li class="span4">
				   <h2><br><br><br>
					      <%= link_to image_tag("camera4.png", size: "90x90", class: "mainbutton"),lifestyle_path %><br>
			    		  <%= link_to image_tag("lifestyle2.png", size: "190x190", class: "mainbutton"),lifestyle_path %>
			   	  </h2>
          </li>
          <li class="span2">
			<div id="box"></div><br>
			<div id="box"></div>	    
          </li>
          <li class="span2">
			<div id="box"></div><br>
			<div id="box"></div>	    
          </li>
	  </ul>
	  <br><br><br><br>
 	  <ul class="thumbnails">
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	   </ul>
	   <br><br><br><br>
	   <ul class="thumbnails">
          <li class="span2">
			  <div id="box"></div><br>
			  <div id="box"></div>
          </li>
          <li class="span2">
			<div id="box"></div><br>
			<div id="box"></div>	    
          </li>
          <li class="span4">
				   <h2><br><br><br>
						  <%= link_to image_tag("contact4.png", size: "90x90", class: "mainbutton"),contact_path %><br>
			    		  <%= link_to image_tag("contact2.png", size: "190x190", class: "mainbutton"),contact_path %>
			   	  </h2>
          </li>
          <li class="span2">
			<div id="box"></div><br>
			<div id="box"></div>	    
          </li>
          <li class="span2">
			<div id="box"></div><br>
			<div id="box"></div>	    
          </li>
	  </ul>
 	  <br><br><br><br>
 	  <ul class="thumbnails">
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	  	<li class="span2">
 	  		<div id="box"></div>
 	  	</li>
 	   </ul>
 	   <br><br><br>
	  
	  
	  
	  
	  
</body>
