<% provide(:title, 'Lifestyle') %>
<!DOCTYPE html>
<html>
<head>
    <title>Sergey Fetisov | <%= yield(:title) %></title>
</head>
<body>
<ul class="thumbnails">
	<li class="span2">
		<div id="myCarousel" class="carousel slide container">
				<div class="carousel-inner">
	            	<div class="item active">
						<%= image_tag("hun1_mini.jpg", alt: "photo", class: "img-rounded") %>
					</div>
					<div class="item">
						<%= image_tag("hun2_mini.jpg", alt: "photo", class: "img-rounded") %>
	        		</div>		
					<div class="item">
						<%= image_tag("hun3_mini.jpg", alt: "photo", class: "img-rounded") %>
	        		</div>
					<div class="item">
						<%= image_tag("hun4_mini.jpg", alt: "photo", class: "img-rounded") %>
	        		</div>
					<div class="item">
						<%= image_tag("hun5_mini.jpg", alt: "photo", class: "img-rounded") %>
	        		</div>
				</div>
		</div>
	</li>
    <li class="span2">
		<div id="myCarousel1" class="carousel slide container">
				<div class="carousel-inner">
 	            	<div class="item active">
 						<%= image_tag("hun6_mini.jpg", alt: "photo", class: "img-rounded") %>
 					</div>
 					<div class="item">
 						<%= image_tag("hun7_mini.jpg", alt: "photo", class: "img-rounded") %>
 	        		</div>		
 					<div class="item">
 						<%= image_tag("hun8_mini.jpg", alt: "photo", class: "img-rounded") %>
 	        		</div>
 					<div class="item">
 						<%= image_tag("hun9_mini.jpg", alt: "photo", class: "img-rounded") %>
 	        		</div>
 					<div class="item">
 						<%= image_tag("hun10_mini.jpg", alt: "photo", class: "img-rounded") %>
 	        		</div>
				 </div> 
		 </div>
 	  </li>
      <li class="span2">
				  <div id="myCarousel2" class="carousel slide container">
							<div class="carousel-inner">
				            	<div class="item active">
									<%= image_tag("hun11_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("hun12_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("hun13_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("hun14_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("hun15_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>				        
				    </div>
          </li>
          <li class="span2">
				    <div id="myCarousel3" class="carousel slide container">
							<div class="carousel-inner">
				            	<div class="item active">
									<%= image_tag("hun16_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("hun17_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("hun18_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("hun6_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("hun11_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>				        
				    </div>
          </li>
          <li class="span2">
				    <div id="myCarousel4" class="carousel slide container">
							<div class="carousel-inner">
				            	<div class="item active">
									<%= image_tag("yal1_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("yal2_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("yal3_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("yal4_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("yal5_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
				    </div>
          </li>
          <li class="span2">
				    <div id="myCarousel5" class="carousel slide container">
							<div class="carousel-inner">
				            	<div class="item active">
									<%= image_tag("yal6_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("yal7_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("yal8_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("yal9_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("yal10_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
				    </div>
          </li>
	  </ul>
	  
	  <ul class="thumbnails">
          <li class="span2">
				    <div id="myCarousel6" class="carousel slide container" style="margin-bottom: 0px;">
				        <div class="carousel-inner" style="margin-bottom: -50px;">
				            	<div class="item active">
									<%= image_tag("yal11_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("yal12_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("yal13_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("yal14_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("yal5_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
					</div>
					<div id="myCarousel7" class="carousel slide container" style="margin-bottom: 0px;">
				        <div class="carousel-inner" style="margin-bottom: -50px;">
				            	<div class="item active">
									<%= image_tag("spb1_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("spb2_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("spb3_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("spb4_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("spb5_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
					</div>
					<div id="myCarousel8" class="carousel slide container" style="margin-bottom: 0px;">
				        <div class="carousel-inner" style="margin-bottom: -50px;">
				            	<div class="item active">
									<%= image_tag("spb6_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("spb7_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("spb8_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("spb9_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("spb10_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
				    </div>
				    <div id="myCarousel9" class="carousel slide container" style="margin-bottom: 0px;">
				        <div class="carousel-inner" style="margin-bottom: -50px;">
				            	<div class="item active">
									<%= image_tag("spb12_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("spb11_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("spb7_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("spb8_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("spb2_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
					</div>
          </li>
          <li class="span8">
			  <div id="myCarousel12" class="carousel slide container">
				  <div id="my">
				 	 <div class="carousel-inner">
						 <div class="carousel-inner">
		 					<div class="item active">
		 						<%= image_tag("sochi3.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
										<h3>Sochi, Mountains</h3>
								      </div>
		 	        		</div>		
		 					<div class="item">
		 						<%= image_tag("sochi1.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>Sochi, Krasnaya Polyana</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("sochi2.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>Sochi, Krasnaya Polyana</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("sochi4.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Sochi</h1>
								        <h3>Sochi, Mountain river</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("sochi11.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>Sochi, Krasnaya Polyana</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("hun13.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Hungary </h1>
								        <h3>Budapest, St. Stephen's Basilica</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("hun15.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Austria </h1>
								        <h3>Vienna, Lion</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("hun14.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Hungary </h1>
								        <h3>Budapest, St. Stephen's Basilica</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("hun8.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Hungary </h1>
								        <h3>Budapest,Elisabeth Bridge</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("hun5.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Hungary </h1>
								        <h3>View of Budapest</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("hun3.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Hungary </h1>
								        <h3>Budapest, Fisherman's Bastion</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("hun16.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Austria</h1>
								        <h3>Vienna, Graben Street</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("hun17.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Hungary</h1>
								        <h3>Budapest, Hungarian Parliament Building</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("hun19.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Austria</h1>
								        <h3>Vienna, Monument To Emperor Franz II</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("hun20.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Austria</h1>
								        <h3>Vienna, Naturhistorisches Museum</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("hun22.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Hungary </h1>
								        <h3>Budapest, St. Stephen's Basilica</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("hun25.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Hungary </h1>
								        <h3>Lake Balaton</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("hun24.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Hungary </h1>
								        <h3>Lake Balaton</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("hun26.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Hungary </h1>
								        <h3>Lake Balaton</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("hun28.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Hungary </h1>
								        <h3>Lake Balaton</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("hun36.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Hungary </h1>
								        <h3>Budapest, Elisabeth Bridge</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("spb5.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>St. Petersburg, Peter and Paul Fortress</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("spb3.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>St. Petersburg, Palace Square</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("spb6.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>St. Petersburg, Blagoveshchensky Bridge</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("spb7.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>St. Petersburg, Blagoveshchensky Bridge</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("spb2.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>St. Petersburg, St. Isaac’s Cathedral</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("spb1.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>St. Petersburg, St. Isaac’s Cathedral</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("spb20.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>St. Petersburg, Sphinx</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("yal6.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>Crimea, Black Sea</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("yal5.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>Crimea, Black Sea</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("yal8.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>Crimea, Black Sea</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("yal10.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>Crimea, Black Sea</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("yal22.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>Crimea</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("yal33.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>Crimea</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("yal30.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>Crimea</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("yal16.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>Crimea</h3>
								      </div>
		 	        		</div>
		 					<div class="item">
		 						<%= image_tag("gor5.jpg", alt: "photo", class: "img-rounded") %>
								      <div class="carousel-caption">
								        <h1>Russia</h1>
								        <h3>Tver Oblast, Volga</h3>
								      </div>
		 	        		</div>
						</div>
						<a class="carousel-control left" href="#myCarousel12" data-slide="prev">‹</a>
						<a class="carousel-control right" href="#myCarousel12" data-slide="next">›</a>
					</div>
				</div>      
			</div>	
      	</li>
        <li class="span2">
				    <div id="myCarousel13" class="carousel slide container" style="margin-bottom: 0px;">
				        <div class="carousel-inner" style="margin-bottom: -50px;">
				            	<div class="item active">
									<%= image_tag("hun19_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("hun20_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("hun21_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("hun22_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("hun23_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
					</div>
					<div id="myCarousel10" class="carousel slide container" style="margin-bottom: 0px;">
				        <div class="carousel-inner" style="margin-bottom: -50px;">
				            	<div class="item active">
									<%= image_tag("sochi1_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("sochi2_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("sochi3_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("sochi4_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("sochi5_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
					</div>
					<div id="myCarousel14" class="carousel slide container" style="margin-bottom: 0px;">
				        <div class="carousel-inner" style="margin-bottom: -50px;">
				            	<div class="item active">
									<%= image_tag("hun24_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("hun25_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("hun26_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("hun27_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("hun28_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
					</div>
					<div id="myCarousel15" class="carousel slide container" style="margin-bottom: 0px;">
				        <div class="carousel-inner" style="margin-bottom: -50px;">
				            	<div class="item active">
									<%= image_tag("hun29_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("hun30_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("hun31_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("hun4_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("hun11_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
				    </div>
          </li>
	  </ul>
		  
		  <br><br><br>
	   <ul class="thumbnails">
          <li class="span2">
				    <div id="myCarousel16" class="carousel slide container">
				        <div class="carousel-inner">
				            	<div class="item active">
									<%= image_tag("spb13_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("spb14_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("spb1_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("spb7_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("spb11_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
				    </div>
          </li>
          <li class="span2">
				    <div id="myCarousel17" class="carousel slide container">
				        <div class="carousel-inner">
				            	<div class="item active">
									<%= image_tag("hun35_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("hun36_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("hun37_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("hun38_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("hun39_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
				    </div>
          </li>
          <li class="span2">
				    <div id="myCarousel18" class="carousel slide container">
				        <div class="carousel-inner">
				            	<div class="item active">
									<%= image_tag("spb17_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("spb18_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("spb19_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("spb20_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("spb21_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
				    </div>
          </li>
          <li class="span2">
				    <div id="myCarousel19" class="carousel slide container">
				        <div class="carousel-inner">
				            	<div class="item active">
									<%= image_tag("sochi7_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("sochi8_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("sochi9_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("sochi10_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("sochi11_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
				    </div>
          </li>
          <li class="span2">
				    <div id="myCarousel20" class="carousel slide container">
				        <div class="carousel-inner">
				            	<div class="item active">
									<%= image_tag("sochi12_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("sochi13_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("sochi1_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("sochi3_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("sochi5_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
				    </div>
          </li>
          <li class="span2">
				    <div id="myCarousel21" class="carousel slide container">
				        <div class="carousel-inner">
				            	<div class="item active">
									<%= image_tag("gor1_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("gor2_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("gor3_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("gor4_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("gor5_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
				    </div>
          </li>
          <li class="span2">
				    <div id="myCarousel22" class="carousel slide container">
				        <div class="carousel-inner">
				            	<div class="item active">
									<%= image_tag("gor6_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("hun32_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("hun33_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("hun34_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("hun5_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
				    </div>
          </li>
          <li class="span2">
				    <div id="myCarousel23" class="carousel slide container">
				        <div class="carousel-inner">
				            	<div class="item active">
									<%= image_tag("yal15_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("yal16_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("yal17_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("yal18_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("yal19_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
				    </div>
          </li>
          <li class="span2">
				    <div id="myCarousel24" class="carousel slide container">
				        <div class="carousel-inner">
				            	<div class="item active">
									<%= image_tag("yal20_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("yal21_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("yal22_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("yal23_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("yal24_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>
				    </div>
          </li>
          <li class="span2">
				    <div id="myCarousel25" class="carousel slide container">
				        <div class="carousel-inner">
				            	<div class="item active">
									<%= image_tag("yal25_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("yal26_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("yal27_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("yal28_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("yal19_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>				        
				    </div>
          </li>
          <li class="span2">
				    <div id="myCarousel26" class="carousel slide container">
				        <div class="carousel-inner">
				            	<div class="item active">
									<%= image_tag("yal30_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("yal31_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("yal32_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("yal33_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("yal34_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>				        
				    </div>
          </li>
          <li class="span2">
				    <div id="myCarousel27" class="carousel slide container">
				        <div class="carousel-inner">
				            	<div class="item active">
									<%= image_tag("yal35_mini.jpg", alt: "photo", class: "img-rounded") %>
								</div>
								<div class="item">
									<%= image_tag("yal36_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>		
								<div class="item">
									<%= image_tag("yal37_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("yal17_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
								<div class="item">
									<%= image_tag("yal18_mini.jpg", alt: "photo", class: "img-rounded") %>
				        		</div>
							</div>				        
				    </div>
          </li>
	  </ul>
</body>
