
<footer class="footer">
  <h3>
  <a href="https://vk.com/fetisow">
	  <%= image_tag("vkontakte.png", size: "31x31", class: "morph") %>
  </a>
  &nbsp&nbsp&nbsp&nbsp
  <a href="http://instagram.com/fetisovsergey">
	  <%= image_tag("instagram.png", size: "41x41", class: "morph") %>
  </a>
  &nbsp&nbsp
  <a href="mailto:sergfetisov@gmail.com">
	  <%= image_tag("gmail.png", size: "44x44", class: "morph") %>
  </a>
  	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        copyright<%= image_tag("copyright.png", size: "25x25", alt: "copyright") %><%= Time.now.year %>
  </h3>
</footer>
